<div class="container">
    <br />
    <form action="/people/person/operate" method="POST">
        <input type="hidden" name="_id" value="{{person._id}}"/>
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="name" class="form-control" id="name" name="name" value="{{person.name}}">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" value="{{person.lastName}}">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" class="form-control" id="age" name="age" value="{{person.age}}">
        </div>
        <button type="submit" class="btn btn-primary">Accept</button>
        <a href="/" class="btn btn-danger">Cancel</a>
    </form>
</div>