html 
    head 
        title=title 
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel='stylesheet')
    body 
        div.container 
            h1=message
            
            table.table.table-striped
                for person in people 
                    tr 
                        td=person.id 
                        td  
                            a(href="/person/"+person.id) #{person.name}